@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-charcoalGrey: #3c4242;
  --color-white: #fff;
  --color-whiteSmoke: #f6f6f6;
  --color-aztecPurple: #8a33fd;
  --color-black: #000;
  --color-monsoon:#8A8989;
  --color-reddishOrange: #f35528;
  --color-halloweenOrange: #f16f2b;
  --color-ultramarineBlue: #345eff;
  --color-rawSienna: #d67e3b;
  --color-leafyGreen: #48bc4e;
  --color-saffronMango: #fdc761;
  --color-mercury: #e4e5e8;
  --color-ruddyPink: #e08d9d;
  --color-blueDiamond: #3fdeff;
  --color-blueViolet: #8434e1;
  --color-mediumGrey: #807d7e;
  --color-cottonSeed: #bebcbd;
  --color-charcoalGrey: #3f4646;
}

.container {
  width: 100%;
  position: relative;
  top: 10vh;
  height: 1900px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > .row {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    & > .rCol {
      width: 77%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      & > .headCol {
        width: 90%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 30px;
        & > h6 {
          font-size: 22px;
          font-weight: 600;
          color: var(--color-charcoalGrey);
        }
        & > .colHead {
          display: flex;
          gap: 20px;
          font-weight: 600;
          font-size: 22px;
          & > .new {
            color: var(--color-aztecPurple);
          }
          & > .recommend {
            color: var(--color-charcoalGrey);
          }
        }
      }
      & > .cards {
        width: 90%;
        // height: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & > .card {
          color: var(--color-charcoalGrey);
          position: relative;
          width: 30%;
          height: 450px;
          border-radius: 12px;
          &>.heart{
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10px;
            right: 20px;
            background-color: var(--color-white);
            border-radius: 50%;
            &>img{
              object-fit: cover;
            }
          }
          & > img {
            width: 100%;
            object-fit: contain;
          }
          & > .cardContext {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > div {
              & > .cardTitle {
                font-size: 16px;
                font-weight: 600;
                padding-bottom: 5px;
              }
              & > .cardSubtitle {
                font-size: 14px;
                font-weight: 500;
              }
            }
            & > .cardPrice {
              width: 82.31px;
              height: 36.58px;
              border-radius: 9px;
              background: var(--color-whiteSmoke);
              text-align: center;
              line-height: 36.58px;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .container>{
    height: auto;
&>.row{
  &>.rCol{
    width: 100%;
    >.cards{
      &>.card{
        width: 35%;
        height: 350px !important;
      }
    }
    }
  }
}
  }

  
@media only screen and (max-width: 986px) {
  .container>{
    height: auto;
&>.row{
  &>.rCol{
    width: 100%;
  &>.cards{
    &>.card{
      height: 350px;
    }
  }
    }
  }
}
  }

