.container {
  width: 90%;
  margin: 0 auto;
}
.Addtocart {
  width: 100%;
  min-height: 100vh;
  padding-top: 13vh !important;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  overflow: hidden;
}
.links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #807d7e;
  font: 500 1.3em sans-serif;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px 0;
}
.black {
  background-color: #3c4242;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
}
.productHeader {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.details {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}
.productRow {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}
.right {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.cursor {
  cursor: pointer;
}
.quantity {
  background-color: #f6f6f6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 2px 15px;
  gap: 10px;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: row;
  width: 20vw;
}
.productImage {
  width: 80px;
  height: auto;
}
.productInfo {
  flex: 1;
  padding-left: 20px;
}
.price,
.quantity,
.shipping,
.subtotal {
  text-align: center;
}
.name {
  color: #3c4242;
  font: 700 0.8em sans-serif;
}
.respText {
  display: none;
}
.text,
.respText {
  color: #807d7e;
  font: 600 0.7em sans-serif;
}
.shopping {
  background-color: #f6f6f6;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.discount {
  width: 70%;
}
.discount p {
  margin-top: 20px;
  color: #3c4242;
  font: 700 1.3em sans-serif;
}
.discount span {
  color: #807d7e;
  font: 400 0.9em sans-serif;
}

.inputBox {
  border-radius: 8px;
  margin: 20px 0;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #3c4242;
  overflow: hidden;
}

.inputBox input {
  border-radius: 8px 0 0 8px;
  width: 15%;
  padding: 7px 0;
  flex: 1;
}
.inputBox input,
.apply_button {
  outline: none;
  border: none;
}

.apply_button {
  background-color: #8a33fd;
  color: #fff;
  font-size: 0.8em;
  padding: 8px 0;
  width: 35%;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply_button:hover,
.proceed:hover {
  background-color: #7029cc;
}

.discount a {
  color: #3c4242;
  border: 1px solid #807d7e;
  padding: 8px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8em;
  background-color: #fff;
}
.shoppingItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.checkout {
  width: 30%;
  background-color: #f3f3f3;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
}
.sub,
.ship,
.grand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub,
.ship,
.grand {
  color: #3c4242;
  padding: 10px 30px;
}
.sub,
.ship {
  font: 500 1.2em sans-serif;
}
.grand {
  font: 700 1.2em sans-serif;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #bebcbd;
}
.proceed {
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  background-color: #8a33fd;
  color: white;
  transition: background-color 0.3s ease;
}
.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.respSubtotal {
  display: none;
}
@media only screen and (max-width: 905px) {
  .black {
    display: none;
  }
  .right {
    width: 50%;
    flex-direction: column;
  }
  .left {
    height: 10vh;
    width: 50%;
  }
  .respText {
    display: block;
  }
  .shipping,
  .price {
    display: none;
  }
  .subtotal {
    background-color: #7029cc;
    color: #fff;
    margin: 5px 0;
  }
  .trash,
  .subtotal {
    text-align: center;
    width: 72px;
    padding: 2px;
    border-radius: 5px;
  }
  .trash {
    background-color: #f3f3f3;
  }
}
@media only screen and (max-width: 870px) {
  .productHeader span {
    font-size: 0.8em;
  }
  .details {
    width: 60%;
  }
  .productRow {
    flex-direction: row;
    align-items: flex-start;
  }
  .shopping {
    height: 70vh;
  }
  .inputBox {
    width: 70%;
  }
  .shoppingItems {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .checkout {
    width: 70%;
    margin-top: 40px;
  }
}
