.password_container{
    display: flex;
    /* align-items: center; */
    gap: 77px;
}
.right_side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    h1{
        padding-bottom: 10px;
    }
}
form{
    padding-top: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.password, .confirm_password{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.pass_input{
    width: 567px;
    height: 52px;
    padding: 5px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #3C4242;
}
button{
    margin-top: 48px;
    width: 167px;
    height: 54px;
    border-radius: 8px;
    background-color: #8A33FD;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
