nav {
    .active {
        background-color: #8A33FD !important;
        color: white !important;
    }

    .active:nth-child(1) {
        background-color: inherit !important;
    }
}

.nav {
    .listLeft {
        .active {
            font-weight: 600 !important;
        }
    }
}