.nav {
  padding: 0;
  width: 80%;
  margin: auto;
  border: none;
}

.border {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 10.1vh;
  position: fixed;
  z-index: 100;
  background-color: white;
}

.input {
  min-width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 10px;
  color: black;
  padding-left: 20px;
}

i {
  color: gray;
  font-size: 14px;
}

input {
  padding-left: 10px;
  padding-right: 20px;
  border: none;
  outline: none;
  background-color: #efefef;
  color: black;
  border-radius: 10px;
}

input::placeholder {
  font-size: 12px;
}

.list,
.elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  width: 35%;
  gap: 5px;
}

.list a {
  font: 500 1.2em sans-serif;
  color: #807d7e;
  font-size: 16px;
}

.active {
  color: #3c4242;
}

.elements {
  display: flex;
  gap: 3px;
  justify-content: space-between;
}

.elem {
  font-size: 1.2em;
  border-radius: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #f6f6f6;
}

.resp {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.menu {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  .resp {
    display: none;
  }

  .menu {
    display: flex;
    font-size: 2em;
  }
}