@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.resetPassword{
    width: 100%;
    min-height: 90vh;
    display: flex;

    &>img{
        width: 50%;
    }
    .resetPasswordContainer{
        // padding: 50px;
        width: 50%;
        // min-height: 90vh;
        display: flex;
        align-items: start;
        // flex-direction: column;
        gap: 10px;
        .rpcInside{
            width: 80%;
            // height: 350px;
            margin: 40px auto;
            // margin-left: 30px;
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            justify-content: flex-start;

            &>h2{
                margin-bottom: 8px;
            }
            .p1{
                color: #676B80;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                margin-bottom: 4px;                
            }
            .p2{
                color: #666666CC;
                font-size: 15px;
                font-weight: 500;
                line-height: 19.2px;
                text-align: left;
                margin-bottom: 35px;
            }
            div{
                &>input{
                    border: 1px solid grey;
                    border-radius: 8px;
                    width: 100%;
                    height: 54px;
                    background-color: #FFFF;
                    padding: 16px 20px 16px 20px;
                    margin-bottom: 60px;
                }
                &>input:focus{
                    border: 1px solid #8A33FD;
                    background-color: #FAF8FD;
                    outline: none;
                }
                &>p{
                    margin-bottom: 7px;
                }
            }
            button{
                background-color:#8A33FD;
                color: white;
                border: none;
                width: 167px;
                height: 54px;
                padding: 16px 20px 16px 20px;
                border-radius: 8px;
                margin-bottom: 10px;
                font-size: 18px;
                cursor: pointer;
            }
            &>.p3{
                font-size: 15px;
                &>a{
                    font-size: 15px;
                    text-decoration: underline; 
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .resetPassword{
        &>img{
            width: 40%;
        }
        .resetPasswordContainer{
            width: 60%;
            .rpcInside{
                width: 60%;
        }
    }
}
}

@media only screen and (max-width: 950px) {
    .resetPassword{
        flex-direction: column-reverse;
        justify-content: start;
        &>img{
            width: 100%;
        }
        .resetPasswordContainer{
            width: 100%;
            &>.rpcInside{
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .resetPassword{
        flex-direction: column-reverse;
        align-items: start;
        &>img{
            width: 100%;
        }
        .resetPasswordContainer{
            width: 100%;
            .rpcInside{
                width: 70%;
            }
        }
    }
}