@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-lemonGrass: #999999;
  --color-aztecPurple: #8a33fd;
  --color-mediumGrey: #807d7e;
}

.checkEmail {
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  &>img {
    width: 45.8%;
    object-fit: cover;
  }
}

.container {
  padding: 50px;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 35px;

  &>h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 2%;
    font-optical-sizing: auto;
  }

  &>p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 2%;
    width: 80%;
    color: var(--color-lemonGrass, #999999);

    &>a {
      color: var(--color-aztecPurple, #8a33fd);
      font-weight: 700;
    }
  }
}

.loginContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-mediumGrey, #807d7e);

  &>i {
    font-size: 14px;
  }

  &>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;

    &>a {
      color: var(--color-mediumGrey, #807d7e);
      text-decoration: underline !important;
    }
  }
}

@media only screen and (max-width:700px) {
  .checkEmail {
    flex-direction: column-reverse;
    min-height: 50vh;

    .container {
      min-height: 50vh;
    }

    &>img {
      width: 100%;
      display: block;
    }
  }
}