.container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.before {
  width: 5px;
  height: 20px;
  background-color: #8a33fd;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.first,
.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
.third {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.bigzone1,
.bigzone2,
.bigzone3 {
  width: 33%;
}
.bigzone1,
.bigzone2,
.bigzone3,
.bigzone4,
.bigzone5 {
  color: #fff;
  border-radius: 15px;
  height: 300px;
}
.bigzone4,
.bigzone5 {
  width: 50%;
}
.bigzone1 {
  background: url("../img/bigzone1.png") center/cover;
}
.bigzone2 {
  background: url("../img/bigzone2.png") center/cover;
}
.bigzone3 {
  background: url("../img/bigzone3.png") center/cover;
}
.bigzone4 {
  background: url("../img/bigzone4.png") center/cover;
}
.bigzone5 {
  background: url("../img/bigzone5.png") center/cover;
}
.bigzone6 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/bigzone6.jfif") center/cover;
}
.bigzone7 {
  background: url("../img/sign-up.jpg") center/cover;
  height: 640px;
}
.bigzone7 {
  border-radius: 0 15px 15px 0;
}
.bigzone6 {
  border-radius: 15px 0 0 15px;
  color: #fff;
}
.bigzone6Text h4 {
  margin-top: 130px;
  font: 800 1.5em sans-serif;
}
.bigzone6Text span {
  font: 300 0.9em sans-serif;
  line-height: 1.7;
  margin: 20px 0;
}
.bigzone6Text {
  width: 80%;
  /* height: 120px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
}
.bigzone6Text button {
  width: 110px;
}
.zoneText,
.zoneText3,
.zoneText4,
.zoneText5 {
  width: 150px;
  margin: 40px 15px;
}
.zoneText h4,
.zoneText3 h4,
.zoneText4 h4,
.zoneText5 h4 {
  font: 600 2em sans-serif;
}
.zoneText span,
.zoneText3 span,
.zoneText4 span,
.zoneText5 span {
  font: 300 0.8em sans-serif;
}
.zoneText p,
.zoneText3 p,
.zoneText4 p,
.zoneText5 p {
  font: 600 1.1em sans-serif;
  margin: 10px 0;
}
.zoneText button,
.zoneText3 button,
.zoneText4 button,
.zoneText5 button,
.bigzone6Text button {
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #fff;
  margin: 5px 0;
  border-radius: 5px;
}
.bigzone6Text button {
  background: #fff;
  color: #3c4242;
}
.zoneText3 button,
.zoneText4 button,
.zoneText5 button {
  color: #3c4242;
  border: 1px solid #3c4242;
}
#right {
  float: right;
  margin: 15px;
}
.limited {
  border: none !important;
  text-transform: capitalize !important;
  background-color: #3c4242 !important;
}
.zoneText3,
.zoneText5,
.zoneText4 {
  float: right;
  color: #3c4242 !important;
}
.bigzone6,
.bigzone7 {
  width: 50%;
}
.third {
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .first,
  .second,
  .third {
    flex-direction: column;
    align-items: center;
  }
  .bigzone6 {
    height: 70vh;
    border-radius: 15px 15px 0 0;
    padding: 15px;
  }
  .bigzone6Text {
    width: 90%;
  }
  .bigzone7 {
    border-radius: 0 0 15px 15px;
  }
  .bigzone1,
  .bigzone2,
  .bigzone3,
  .bigzone4,
  .bigzone5,
  .bigzone6,
  .bigzone7 {
    width: 70%;
  }
}
