@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.signup {
  display: flex;
  flex-direction: row;
}

.signup img {
  width: 600px;
  object-fit: cover;
}

form {
  width: 100%;
  padding-left: 10%;
}

.container {
  padding: 50px;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container button {
  width: 80%;
  border: 1px solid gray;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
  transition: 0.5s;
}

.container button,
.submit button {
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font: 400 0.9em "Open Sans";
}

.submit button {
  width: 170px !important;
  color: white;
  margin-bottom: 15px;
}

.container button:not(.submit button):hover {
  letter-spacing: 1.1px;
  transition: 0.5s;
}

.container img {
  width: 30px;
}

.email input,
.password input {
  width: 89%;
  height: 50px;
  outline-color: #8a33fd;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

input::placeholder {
  font-size: 0.8em;
}

.signupText {
  text-align: start;
  width: 80%;
}

.signupText h2 {
  font: 600 2.1em "Open Sans";
  margin-bottom: 10px;
}

.signupText span {
  color: #666;
}

form p,
.signupText span,
.error {
  font: 400 0.8em "Open Sans";
}

.error {
  color: red;
}

.email,
.check {
  margin: 50px 0;
}

.check span {
  font: 500 0.8em "Open Sans";
  color: #666;
  padding-left: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.passwordText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.passwordText p {
  margin-right: 90px;
}

.submit span {
  font: 400 0.9em "Open Sans";
}

.submit span > a {
  color: black;
}
input[type="checkbox"] {
  accent-color: gray;
}

@media only screen and (max-width: 1200px) {
  .passwordText p {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 950px) {
  .signup {
    flex-direction: column-reverse;
  }

  .signupImg {
    width: 100% !important;
  }

  .passwordText p {
    margin-right: 90px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 30px;
  }

  .container button {
    width: 100%;
  }

  .email input,
  .password input {
    width: 100%;
  }

  .signupText {
    width: 100%;
  }

  form {
    padding: 0;
  }

  .passwordText p {
    margin-right: 10px;
  }
}
